In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
import scipy.stats as st

In [2]:
happiness_df = pd.read_csv('Resources/Gallup2018.csv')
nationalparks_df = pd.read_csv('Resources/StatesRanked_NationalParkCoverage.csv')

In [3]:
happiness_df.head()

,State,2018 sample size,Well-Being Index,Well-Being Index Rank,Career,Social,Financial,Community,Physical
0,Hawaii,502,64.6,1,1,1,1,4,4
1,Wyoming,219,64.2,2,3,18,6,1,3
2,Alaska,212,63.9,3,5,8,2,23,1
3,Montana,488,63.5,4,4,19,17,2,7
4,Utah,1214,63.4,5,2,4,13,9,14

In [4]:
# Checking Columns
# print(happiness_df.columns.tolist())

In [5]:
nationalparks_df.head()

,STATE,Rank,State Size (acres),Number of State Parks,# of State Parks (acres),State Coverage of State Parks,Number of National Parks,State Coverage of National Parks (acres),State Coverage of National Parks,Total Acreage,Percent Covered,Unnamed: 11,Unnamed: 12
0,Alabama,46,"33,432,000",22,"48,000",0.14,0,0,0.00,"48,000",0.14,NaN,NaN
1,Alaska,2,"393,747,000",119,"3,300,000",0.84,8,"32,526,051",8.26,"35,826,051",9.10,NaN,NaN
2,Arizona,12,"72,964,000",36,"60,000",0.08,3,"1,514,753",2.08,"1,574,753",2.16,NaN,NaN
3,California,3,"101,676,000",270,"1,300,000",1.28,9,"6,313,164",6.21,"7,613,164",7.49,NaN,NaN
4,Colorado,25,"66,624,000",43,"220,000",0.33,4,"456,414",0.69,"676,414",1.02,NaN,NaN

In [6]:
# Checking Columns 
# print(nationalparks_df.columns.tolist())

In [7]:
# Cleaning datasets
happiness_df = happiness_df.drop(columns=['2018 sample size', 'Career', 'Social', 'Financial', 'Community', 'Physical'])
nationalparks_df = nationalparks_df.rename(columns={'STATE ': 'State'})
nationalparks_df = nationalparks_df.drop(columns=['Unnamed: 11', 'Unnamed: 12'])

nationalparks_df.head()

,State,Rank,State Size (acres),Number of State Parks,# of State Parks (acres),State Coverage of State Parks,Number of National Parks,State Coverage of National Parks (acres),State Coverage of National Parks,Total Acreage,Percent Covered
0,Alabama,46,"33,432,000",22,"48,000",0.14,0,0,0.00,"48,000",0.14
1,Alaska,2,"393,747,000",119,"3,300,000",0.84,8,"32,526,051",8.26,"35,826,051",9.10
2,Arizona,12,"72,964,000",36,"60,000",0.08,3,"1,514,753",2.08,"1,574,753",2.16
3,California,3,"101,676,000",270,"1,300,000",1.28,9,"6,313,164",6.21,"7,613,164",7.49
4,Colorado,25,"66,624,000",43,"220,000",0.33,4,"456,414",0.69,"676,414",1.02

In [8]:
# Merging DataFrames

merge_df = pd.merge(nationalparks_df, happiness_df, on="State")
merge_df

,State,Rank,State Size (acres),Number of State Parks,# of State Parks (acres),State Coverage of State Parks,Number of National Parks,State Coverage of National Parks (acres),State Coverage of National Parks,Total Acreage,Percent Covered,Well-Being Index,Well-Being Index Rank
0,Alabama,46,"33,432,000",22,"48,000",0.14,0,0,0.00,"48,000",0.14,59.9,44
1,Alaska,2,"393,747,000",119,"3,300,000",0.84,8,"32,526,051",8.26,"35,826,051",9.10,63.9,3
2,Arizona,12,"72,964,000",36,"60,000",0.08,3,"1,514,753",2.08,"1,574,753",2.16,62.1,15
3,California,3,"101,676,000",270,"1,300,000",1.28,9,"6,313,164",6.21,"7,613,164",7.49,62.2,14
4,Colorado,25,"66,624,000",43,"220,000",0.33,4,"456,414",0.69,"676,414",1.02,63.4,6
5,Connecticut,4,"3,548,000",109,"263,000",7.41,0,0,0.00,"263,000",7.41,62.1,16
6,Delaware,16,"1,534,000",16,"26,000",1.69,0,0,0.00,"26,000",1.69,62.9,8
7,Florida,6,"38,392,000",191,"800,000",2.08,3,"1,746,611",4.55,"2,546,611",6.63,61.8,20
8,Georgia,40,"37,745,000",63,"85,000",0.23,0,0,0.00,"85,000",0.23,61.7,23
9,Hawaii,1,"4,134,000",50,"30,000",0.73,2,"358,870",8.68,"388,870",9.41,64.6,1
10,Idaho,45,"53,487,000",32,"62,000",0.12,1,"22,197",0.04,"84,197",0.16,61.7,22
11,Illinois,19,"36,060,000",142,"500,000",1.39,0,0,0.00,"500,000",1.39,60.3,42
12,Indiana,32,"23,158,000",34,"173,000",0.75,1,"15,348",0.07,"188,348",0.81,60.3,41
13,Iowa,42,"36,017,000",71,"75,000",0.21,0,0,0.00,"75,000",0.21,61.5,26
14,Kansas,50,"52,660,000",26,"32,000",0.06,0,0,0.00,"32,000",0.06,60.9,35
15,Kentucky,15,"25,863,000",50,"390,000",1.51,1,"54,012",0.21,"444,012",1.72,58.8,48
16,Louisiana,48,"31,776,000",40,"32,000",0.10,0,0,0.00,"32,000",0.10,60.0,43
17,Maine,10,"21,594,000",83,"725,000",3.36,1,"774,075",3.58,"1,499,075",6.94,61.7,21
18,Maryland,21,"7,870,000",46,"101,000",1.28,0,0,0.00,"101,000",1.28,61.2,32
19,Massachusetts,7,"5,914,000",154,"250,000",4.23,0,0,0.00,"250,000",4.23,62.0,17
20,Michigan,11,"37,448,000",104,"265,000",0.71,1,"571,790",1.53,"836,790",2.23,61.1,33
21,Minnesota,29,"54,014,000",67,"267,000",0.49,1,"218,200",0.40,"485,200",0.90,62.5,12
22,Mississippi,49,"30,903,000",25,"23,000",0.07,0,0,0.00,"23,000",0.07,58.9,47
23,Missouri,37,"44,614,000",93,"151,000",0.34,1,91,0.00,"151,091",0.34,60.6,40
24,Montana,22,"94,109,000",53,"45,000",0.05,2,"1,079,720",1.15,"1,124,720",1.20,63.5,4
25,Nebraska,38,"49,523,000",74,"155,000",0.31,0,0,0.00,"155,000",0.31,61.9,18
26,Nevada,39,"70,763,000",23,"132,000",0.19,1,"77,180",0.11,"209,180",0.30,61.9,19
27,New Hampshire,20,"5,941,000",68,"80,000",1.35,0,0,0.00,"80,000",1.35,62.7,11
28,New Jersey,5,"5,258,000",50,"383,000",7.28,0,0,0.00,"383,000",7.28,61.2,31
29,New Mexico,43,"77,823,000",34,"95,000",0.12,1,"46,766",0.06,"141,766",0.18,61.3,30
30,New York,22,"32,056,000",215,"350,000",1.09,0,0,0.00,"350,000",1.09,60.8,37
31,North Carolina,18,"33,710,000",41,"212,000",0.63,1,"276,000",0.82,"488,000",1.45,60.8,36
32,North Dakota,41,"45,251,000",20,"25,000",0.06,1,"70,447",0.16,"95,447",0.21,62.7,10
33,Ohio,34,"26,451,000",75,"170,000",0.64,1,"32,572",0.12,"202,572",0.77,60.6,38
34,Oklahoma,47,"44,738,000",39,"56,000",0.13,0,0,0.00,"56,000",0.13,59.8,45
35,Oregon,36,"62,140,000",195,"102,000",0.16,1,"183,224",0.29,"285,224",0.46,61.4,28
36,Pennsylvania,24,"28,806,000",121,"295,000",1.02,0,0,0.00,"295,000",1.02,60.9,34
37,Rhode Island,31,"788,000",15,"6,646",0.84,0,0,0.00,"6,646",0.84,61.5,25
38,South Carolina,35,"19,961,000",47,"80,000",0.40,1,"26,640",0.13,"106,640",0.53,60.6,39
39,South Dakota,33,"49,357,000",63,"102,000",0.21,2,"276,727",0.56,"378,727",0.77,62.7,9
40,Tennessee,17,"26,973,000",56,"210,000",0.78,1,"244,000",0.90,"454,000",1.68,59.5,46
41,Texas,28,"171,057,000",99,"740,000",0.43,2,"887,530",0.52,"1,627,530",0.95,61.3,29
42,Utah,14,"54,339,000",44,"140,000",0.26,5,"839,259",1.54,"979,259",1.80,63.4,5
43,Vermont,30,"6,154,000",58,"52,000",0.84,0,0,0.00,"52,000",0.84,63.3,7
44,Virginia,26,"27,089,000",37,"67,000",0.25,1,"199,224",0.74,"266,224",0.98,61.5,27
45,Washington,9,"45,208,000",212,"112,000",0.25,3,"1,663,812",3.68,"1,775,812",3.93,62.5,13
46,West Virginia,27,"15,508,000",45,"148,000",0.95,0,0,0.00,"148,000",0.95,57.0,50
47,Wisconsin,13,"35,933,000",76,"700,000",1.95,0,0,0.00,"700,000",1.95,61.5,24
48,Wyoming,8,"62,604,000",31,"120,000",0.19,2,"2,441,043",3.90,"2,561,043",4.09,64.2,2